@using ZEC.Core.Models.Product
@using ZEC.Core.Models.Helpers
@model IEnumerable<ProductModel>
@{
    string ProductCurrency;
    int no_product = 0;
}
<section class="section">
    <div class="container sales-container">
        <header class="section-header">
            <h2 class="text-main-color weight-500">Deal zone</h2>
            <a href="#" class="section-action-link">View all sales</a>
        </header>
        <div class="swiper-container swiper3">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    ProductCurrency = item.Currency switch
                    {
                        Currency.USDollar => "$",
                        Currency.Euro => "€",
                        Currency.SyrianPound => "SP",
                        Currency.Pound => "£",
                        _ => "$"
                    };

                    <div class="swiper-slide">
                        <div class="content-wrapper">
                            <div class="product-label-list">
                                @if (item.IsStoreSelection)
                                {
                                    <div class="badge badge-blue badge-product">Our Selection</div>
                                }
                                <div class="badge badge-red badge-product">Save @ProductCurrency@item.SaleValue</div>
                            </div>
                            <div class="img-wrapper">
                                <a href="#">
                                    <img src="/img/product/@item.Pictures[0]" alt="@item.Name" />
                                </a>
                            </div>
                            <div class="product_info">
                                <a class="product-manufacturer" href="#">@item.Manufacturer</a>
                                <a href="#" class="product-name lh-1-5 text-main-color weight-500">@item.Name</a>
                                @if (item.HasColors)
                                {
                                    int x = 0;
                                    <div class="product-colors">
                                        @foreach (var productColor in item.ProductColors)
                                        {
                                            <input type="radio" name="color_switch_@no_product" id="@(productColor.Color)_switch_@(no_product)" value="@productColor.Color">
                                            <label for="@(productColor.Color)_switch_@(no_product)" style="background-color:@productColor.Color"></label>
                                            x++;
                                            if (x >= 5)
                                            {
                                                <span class="badge badge-more">+@(item.ProductColors.Count - 5)</span>
                                                break;
                                            }
                                        }
                                    </div>
                                }
                                <div class="product-price-list">
                                    @if (item.HasDiscount)
                                    {
                                        if (item.HasTierPrices)
                                        {
                                            <div class="price">
                                                <div>From</div>
                                                <span>@ProductCurrency@item.Price</span>
                                            </div>
                                            <span class="price price--old">@ProductCurrency@item.OldPrice</span>
                                        }
                                        else
                                        {
                                            <div class="flex-row align-items-center">
                                                <span class="price mr-1">@ProductCurrency@item.Price</span>
                                                <span class="price price--old">@ProductCurrency@item.OldPrice</span>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (item.HasTierPrices)
                                        {
                                            <span class="price">
                                                From
                                                <span>@ProductCurrency@item.Price</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price</span>
                                        }
                                    }
                                </div>
                                <div class="product-review">
                                    <input class="product-review-stars" readonly="readonly" value="@item.OverallRating" type="number" name="name" min="0" max="5" step="1" data-size="xs" />
                                    <a href="#">@item.No_Reviews reviews</a>
                                </div>
                                <span class="product-inventory">
                                    @if (item.IsInStock)
                                    {
                                        <span class="product-in-stock">In stock, @item.InventoryUnits units</span>
                                    }
                                    else
                                    {
                                        <span class="product-out-stock">Sold out</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>

                    no_product++;
                }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>